.main
  .main__header
    .main__header--left
      test
      .main__header--left--name
        Member : masa
    .main__header--right
      = link_to "#" do
        Edit
  .main__body
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
  .main__footer