.main
  .main__header
    .main__header--left
      test
      .main__header--left--name
        Member : masa
    .main__header--right
      = link_to "#" do
        Edit
  .main__body
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
    .main__body__message
      .main__body__message--box
        .main__body__message--box--name
          masa
        .main__body__message--box--time
          2019/11/20(web) 17:43:01
      .main__body__message--comment
        aaaaaaaa
  .main__footer
    .main__footer__message
      .main__footer__message__box
        .main__footer__message__box--left
          %input#textbox{:type=>:text, :name => :name}
        .main__footer__message__box--right
          %label{class: "file"}
            = icon('fas', 'image')
            %input{type: "file"}
    .main__footer__send
      %input#sub{:type => "submit", :value => "send"}