.main
  .main__header
  .main__body
    s
    %br
    s
    %br
    a
    %br
    a
    %br
    a
    %br
    a
    %br
    a
    %br
    s
    %br
    s
    %br
    a
    %br
    a
    %br
    a
    %br
    a
    %br
    a
    %br
    s
    %br
    s
    %br
    a
    %br
    a
    %br
    a
    %br
    a
    %br
    a
    %br
    s
    %br
    s
    %br
    a
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    a
    a
    a
    a
  .main__footer