.header
  .header__contents
    .header__contents--name
      masa
    %ul.header__contents--box
      %li.header__contents--box--edit
        = link_to "#" do
          %i.fas.fa-edit
      %li.header__contents--box--cog
        = link_to "#" do
          %i.fa.fa-cog
.contents
  .contents__message
    follow me!
  .contents__btn
    Facebook
  .contents__btn
    Twitter
  .contents__btn
    Instagram