.sidebar
  .header
    .header__contents
      .header__contents--name
        = current_user.name
      %ul.header__contents--box
        %li.header__contents--box--edit
          = link_to new_group_path do
            %i.fas.fa-edit
        %li.header__contents--box--cog
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .groups
    = render 'messages/messages_side'